DATABASE_URL="postgresql://postgres:password@localhost:5432/panenhub_db"
JWT_ACCESS_SECRET="panenhub_access_secret_ganti_ini"
JWT_REFRESH_SECRET="panenhub_refresh_secret_ganti_ini"
JWT_ACCESS_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3000
NODE_ENV="development"
UPLOAD_PATH="./uploads"
BASE_URL="http://localhost:3000"
